
.main-div {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.question-block {
    width: 80%;
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
    justify-content: center;
}

.statement-input {
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.option-input {
    width: 50%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.submit-btn {
    margin-top: 20px;
    padding: 40px;
}