body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1{
    color: black;
    margin: 20px 0px 20px;
    font-weight: normal;
    font-size: 60px;
  }
  
  h1{
    color: black;
    margin: 20px 0px 20px;
    font-weight: normal;
    font-size: 30px;
  }
  
  .content{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 50%;
    transform: translateY(-50%);
  }
  
  /* PROJECTS STARTS HERE */
  .projects{
    background-color: white;
    width: 100%;
    padding: 30px 0px;
    align-items: center;
  }
  .projects h1{
  
    color: black;
    margin: 20px 0px 20px;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
  }
  
  .projects button{
    background-color: rgb(255, 81, 0);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: normal;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 10px 10px 10px grey;
    margin-left: 45%;
  }
  
  .projects button:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 81, 0);
    cursor: pointer;
    color: black;
    box-shadow: 10px 10px 10px grey;
  }
  
  @media only screen
  and (min-device-width:992px){
  .box{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin-left: 10%;
        margin-right: 10%;
  }
  }
  
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 991px){
  .box{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        min-height: 400px;
  }
  }
  
  @media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 767px){
  .box{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        min-height: 400px;
  }
  }
  
  .card{
    height: 200px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .card i{
    font-size: 50px;
    text-align: center;
    margin: 25px 0px;
    color: #E1A361;
  }
  h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
  }
  .card-info{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: left;
  }
  
  /* EDUCATION STARTS HERE*/
  .education{
    width: 100%;
    padding: 30px 0px;
    background-color: white;
  }
  .education h1{
  
    color: black;
    margin: 20px 0px 20px;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
  }
  
  .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  .card1{
    height: 100px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .card1 h5{
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .desc h4{
    color: #E1A361;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
  
  }
  .desc h3{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .desc .button{
    background-color: rgb(255, 81, 0);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: normal;
    font-size: 15px;
    padding: 7px 30px;
    border-radius: 10px;
    transition: 0.4s;
  }
  
  .desc .button:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 81, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px grey;
  }
  
  .cardnew .p{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
  }